/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(135deg, #181c24 0%, #22263a 100%);
  min-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
}